---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import IconContainer from "../components/IconContainer";
---

<Layout
  title="Sandeep Upadhyay"
  description="Sandeep Upadhyay's personal website"
>
  <Main>
    <H1 text="Sandeep Upadhyay" />

    <section>
      <IconContainer />
    </section>
  </Main>
</Layout>
